Sitios_Web/Medinet_v_2.0/PLM Development VS2010/BusinessLogicLayerComponent/AgroBusinessLogicComponent/Web References/_PLMTracking/PLMLogsEngine.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PLMLogsBusinessEntries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PLMLogsBusinessEntries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.plmconnection.com/plmservices/PLMLogsEngine/PLMLogsEngine.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/InfoLogsBusinessEntries" />
  <xs:complexType name="TrackingListInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeGroupKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityId" type="xs:int" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JsonFormat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Replicate" type="xs:boolean" />
      <xs:element minOccurs="0" name="SearchDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SearchParameters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchTypeId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="SourceId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TrackId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackingListInfo" nillable="true" type="tns:TrackingListInfo" />
  <xs:complexType name="ArrayOfTrackingListInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackingListInfo" nillable="true" type="tns:TrackingListInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrackingListInfo" nillable="true" type="tns:ArrayOfTrackingListInfo" />
  <xs:complexType name="TrackingParentInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TrackingListInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChildrenTrackingInfo" nillable="true" type="tns:ArrayOfTrackingListInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrackingParentInfo" nillable="true" type="tns:TrackingParentInfo" />
  <xs:complexType name="ArrayOfTrackingParentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackingParentInfo" nillable="true" type="tns:TrackingParentInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrackingParentInfo" nillable="true" type="tns:ArrayOfTrackingParentInfo" />
  <xs:complexType name="SearchTrackInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeGroupKey" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InfoLogsBusinessEntries" minOccurs="0" name="ChildrenInfoTrackingInfo" nillable="true" type="q1:ArrayOfInfo_TrackingListInfo" />
      <xs:element minOccurs="0" name="ChildrenTrackingInfo" nillable="true" type="tns:ArrayOfTrackingListInfo" />
      <xs:element minOccurs="0" name="CodeString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityId" type="xs:int" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JsonFormat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Replicate" type="xs:boolean" />
      <xs:element minOccurs="0" name="SearchDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SearchParameters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchTypeId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="SourceId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TrackId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchTrackInfo" nillable="true" type="tns:SearchTrackInfo" />
  <xs:complexType name="ArrayOfSearchTrackInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchTrackInfo" nillable="true" type="tns:SearchTrackInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchTrackInfo" nillable="true" type="tns:ArrayOfSearchTrackInfo" />
</xs:schema>