Indices_Impresos/Aplications/XMLiPhone/App_WebReferences/PharmaSearchEngine/iOSPharmaSearchEngine1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.plmconnection.com/plmservices/Mobile/iOSPharmaSearchEngine.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" />
  <xs:complexType name="ArrayOfProductByEditionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductByEditionInfo" nillable="true" type="tns:ProductByEditionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductByEditionInfo" nillable="true" type="tns:ArrayOfProductByEditionInfo" />
  <xs:complexType name="ProductByEditionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategotyId" type="xs:int" />
      <xs:element minOccurs="0" name="DivisionId" type="xs:int" />
      <xs:element minOccurs="0" name="DivisionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DivisionShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PharmaForm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PharmaFormId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductByEditionInfo" nillable="true" type="tns:ProductByEditionInfo" />
  <xs:complexType name="ArrayOfTherapeuticByProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TherapeuticByProductInfo" nillable="true" type="tns:TherapeuticByProductInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTherapeuticByProductInfo" nillable="true" type="tns:ArrayOfTherapeuticByProductInfo" />
  <xs:complexType name="TherapeuticByProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="DivisionId" type="xs:int" />
      <xs:element minOccurs="0" name="PharmaForm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PharmaFormId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="Therapeutic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TherapeuticId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TherapeuticKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TherapeuticByProductInfo" nillable="true" type="tns:TherapeuticByProductInfo" />
  <xs:complexType name="SearchResultsInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" minOccurs="0" name="Indications" nillable="true" type="q1:ArrayOfIndicationInfo" />
      <xs:element minOccurs="0" name="Labs" nillable="true" type="tns:ArrayOfDivisionByEditionInfo" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProductByEditionInfo" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" minOccurs="0" name="Substances" nillable="true" type="q2:ArrayOfActiveSubstanceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResultsInfo" nillable="true" type="tns:SearchResultsInfo" />
  <xs:complexType name="ArrayOfDivisionByEditionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DivisionByEditionInfo" nillable="true" type="tns:DivisionByEditionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDivisionByEditionInfo" nillable="true" type="tns:ArrayOfDivisionByEditionInfo" />
  <xs:complexType name="DivisionByEditionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DivisionId" type="xs:int" />
      <xs:element minOccurs="0" name="LaboratoryId" type="xs:int" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DivisionByEditionInfo" nillable="true" type="tns:DivisionByEditionInfo" />
  <xs:complexType name="ArrayOfAttributeByProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttributeByProductInfo" nillable="true" type="tns:AttributeByProductInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttributeByProductInfo" nillable="true" type="tns:ArrayOfAttributeByProductInfo" />
  <xs:complexType name="AttributeByProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeId" type="xs:int" />
      <xs:element minOccurs="0" name="AttributeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="DivisionId" type="xs:int" />
      <xs:element minOccurs="0" name="EditionId" type="xs:int" />
      <xs:element minOccurs="0" name="PharmaFormId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttributeByProductInfo" nillable="true" type="tns:AttributeByProductInfo" />
</xs:schema>