Indices_Impresos/Aplications/XMLiPhone/App_WebReferences/PharmaSearchEngine/iOSPharmaSearchEngine.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="iOSPharmaSearchEngine" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.plmconnection.com/plmservices/Mobile/iOSPharmaSearchEngine.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.plmconnection.com/plmservices/Mobile/iOSPharmaSearchEngine.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.plmconnection.com/plmservices/Mobile/iOSPharmaSearchEngine.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" />
      <xsd:import schemaLocation="http://www.plmconnection.com/plmservices/Mobile/iOSPharmaSearchEngine.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IiOSPharmaSearchEngine_getAloneDrugsBySubstance_InputMessage">
    <wsdl:part name="parameters" element="tns:getAloneDrugsBySubstance" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getAloneDrugsBySubstance_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAloneDrugsBySubstanceResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getCombinedDrugsBySubstance_InputMessage">
    <wsdl:part name="parameters" element="tns:getCombinedDrugsBySubstance" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getCombinedDrugsBySubstance_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCombinedDrugsBySubstanceResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getAloneDrugsByTheraBySubstance_InputMessage">
    <wsdl:part name="parameters" element="tns:getAloneDrugsByTheraBySubstance" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getAloneDrugsByTheraBySubstance_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAloneDrugsByTheraBySubstanceResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getCombinedDrugsByTheraBySubstance_InputMessage">
    <wsdl:part name="parameters" element="tns:getCombinedDrugsByTheraBySubstance" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getCombinedDrugsByTheraBySubstance_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCombinedDrugsByTheraBySubstanceResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getSubstancesByLab_InputMessage">
    <wsdl:part name="parameters" element="tns:getSubstancesByLab" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getSubstancesByLab_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSubstancesByLabResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getSubstancesByDrug_InputMessage">
    <wsdl:part name="parameters" element="tns:getSubstancesByDrug" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getSubstancesByDrug_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSubstancesByDrugResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getSubstancesByDrugBySubs_InputMessage">
    <wsdl:part name="parameters" element="tns:getSubstancesByDrugBySubs" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getSubstancesByDrugBySubs_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSubstancesByDrugBySubsResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getSubstance_InputMessage">
    <wsdl:part name="parameters" element="tns:getSubstance" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getSubstance_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSubstanceResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getDrugsByTherapeutic_InputMessage">
    <wsdl:part name="parameters" element="tns:getDrugsByTherapeutic" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getDrugsByTherapeutic_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDrugsByTherapeuticResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getTherapeuticsByDrug_InputMessage">
    <wsdl:part name="parameters" element="tns:getTherapeuticsByDrug" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getTherapeuticsByDrug_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTherapeuticsByDrugResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getTherapeuticsByDrugByTherapeutic_InputMessage">
    <wsdl:part name="parameters" element="tns:getTherapeuticsByDrugByTherapeutic" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getTherapeuticsByDrugByTherapeutic_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTherapeuticsByDrugByTherapeuticResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getResults_InputMessage">
    <wsdl:part name="parameters" element="tns:getResults" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:getResultsResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getAttributes_InputMessage">
    <wsdl:part name="parameters" element="tns:getAttributes" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getAttributes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAttributesResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getAttributesByDrug_InputMessage">
    <wsdl:part name="parameters" element="tns:getAttributesByDrug" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getAttributesByDrug_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAttributesByDrugResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getContentByAttribute_InputMessage">
    <wsdl:part name="parameters" element="tns:getContentByAttribute" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getContentByAttribute_OutputMessage">
    <wsdl:part name="parameters" element="tns:getContentByAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getIndication_InputMessage">
    <wsdl:part name="parameters" element="tns:getIndication" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getIndication_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIndicationResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getIndications_InputMessage">
    <wsdl:part name="parameters" element="tns:getIndications" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getIndications_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIndicationsResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getDrugsByIndication_InputMessage">
    <wsdl:part name="parameters" element="tns:getDrugsByIndication" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getDrugsByIndication_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDrugsByIndicationResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getIndicationsByDrug_InputMessage">
    <wsdl:part name="parameters" element="tns:getIndicationsByDrug" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getIndicationsByDrug_OutputMessage">
    <wsdl:part name="parameters" element="tns:getIndicationsByDrugResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getLabs_InputMessage">
    <wsdl:part name="parameters" element="tns:getLabs" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getLabs_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLabsResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getDrugsByLab_InputMessage">
    <wsdl:part name="parameters" element="tns:getDrugsByLab" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getDrugsByLab_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDrugsByLabResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getLabsBySubstance_InputMessage">
    <wsdl:part name="parameters" element="tns:getLabsBySubstance" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getLabsBySubstance_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLabsBySubstanceResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getDrugsByLabBySubstance_InputMessage">
    <wsdl:part name="parameters" element="tns:getDrugsByLabBySubstance" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getDrugsByLabBySubstance_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDrugsByLabBySubstanceResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getAloneDrugsByLabBySubstance_InputMessage">
    <wsdl:part name="parameters" element="tns:getAloneDrugsByLabBySubstance" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getAloneDrugsByLabBySubstance_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAloneDrugsByLabBySubstanceResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getCombinedDrugsByLabBySubstance_InputMessage">
    <wsdl:part name="parameters" element="tns:getCombinedDrugsByLabBySubstance" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getCombinedDrugsByLabBySubstance_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCombinedDrugsByLabBySubstanceResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getLabsByIndication_InputMessage">
    <wsdl:part name="parameters" element="tns:getLabsByIndication" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getLabsByIndication_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLabsByIndicationResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getDrugsByLabByIndication_InputMessage">
    <wsdl:part name="parameters" element="tns:getDrugsByLabByIndication" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getDrugsByLabByIndication_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDrugsByLabByIndicationResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getLabInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:getLabInformation" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getLabInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLabInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getLaboratory_InputMessage">
    <wsdl:part name="parameters" element="tns:getLaboratory" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getLaboratory_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLaboratoryResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getNumberLabs_InputMessage">
    <wsdl:part name="parameters" element="tns:getNumberLabs" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getNumberLabs_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNumberLabsResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getPharmaFormsByDrug_InputMessage">
    <wsdl:part name="parameters" element="tns:getPharmaFormsByDrug" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getPharmaFormsByDrug_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPharmaFormsByDrugResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getPharmaForms_InputMessage">
    <wsdl:part name="parameters" element="tns:getPharmaForms" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getPharmaForms_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPharmaFormsResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getDrugs_InputMessage">
    <wsdl:part name="parameters" element="tns:getDrugs" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getDrugs_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDrugsResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getDrugsBySubstance_InputMessage">
    <wsdl:part name="parameters" element="tns:getDrugsBySubstance" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getDrugsBySubstance_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDrugsBySubstanceResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getContent_InputMessage">
    <wsdl:part name="parameters" element="tns:getContent" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:getContentResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_checkContent_InputMessage">
    <wsdl:part name="parameters" element="tns:checkContent" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_checkContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkContentResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getNumberDrugs_InputMessage">
    <wsdl:part name="parameters" element="tns:getNumberDrugs" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getNumberDrugs_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNumberDrugsResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_searchText_InputMessage">
    <wsdl:part name="parameters" element="tns:searchText" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_searchText_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchTextResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getSubstances_InputMessage">
    <wsdl:part name="parameters" element="tns:getSubstances" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getSubstances_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSubstancesResponse" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getSubstanceByTherapeutic_InputMessage">
    <wsdl:part name="parameters" element="tns:getSubstanceByTherapeutic" />
  </wsdl:message>
  <wsdl:message name="IiOSPharmaSearchEngine_getSubstanceByTherapeutic_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSubstanceByTherapeuticResponse" />
  </wsdl:message>
  <wsdl:portType name="IiOSPharmaSearchEngine">
    <wsdl:operation name="getAloneDrugsBySubstance">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getAloneDrugsBySubstance" message="tns:IiOSPharmaSearchEngine_getAloneDrugsBySubstance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getAloneDrugsBySubstanceResponse" message="tns:IiOSPharmaSearchEngine_getAloneDrugsBySubstance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCombinedDrugsBySubstance">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getCombinedDrugsBySubstance" message="tns:IiOSPharmaSearchEngine_getCombinedDrugsBySubstance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getCombinedDrugsBySubstanceResponse" message="tns:IiOSPharmaSearchEngine_getCombinedDrugsBySubstance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAloneDrugsByTheraBySubstance">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getAloneDrugsByTheraBySubstance" message="tns:IiOSPharmaSearchEngine_getAloneDrugsByTheraBySubstance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getAloneDrugsByTheraBySubstanceResponse" message="tns:IiOSPharmaSearchEngine_getAloneDrugsByTheraBySubstance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCombinedDrugsByTheraBySubstance">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getCombinedDrugsByTheraBySubstance" message="tns:IiOSPharmaSearchEngine_getCombinedDrugsByTheraBySubstance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getCombinedDrugsByTheraBySubstanceResponse" message="tns:IiOSPharmaSearchEngine_getCombinedDrugsByTheraBySubstance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSubstancesByLab">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getSubstancesByLab" message="tns:IiOSPharmaSearchEngine_getSubstancesByLab_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getSubstancesByLabResponse" message="tns:IiOSPharmaSearchEngine_getSubstancesByLab_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSubstancesByDrug">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getSubstancesByDrug" message="tns:IiOSPharmaSearchEngine_getSubstancesByDrug_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getSubstancesByDrugResponse" message="tns:IiOSPharmaSearchEngine_getSubstancesByDrug_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSubstancesByDrugBySubs">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getSubstancesByDrugBySubs" message="tns:IiOSPharmaSearchEngine_getSubstancesByDrugBySubs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getSubstancesByDrugBySubsResponse" message="tns:IiOSPharmaSearchEngine_getSubstancesByDrugBySubs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSubstance">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getSubstance" message="tns:IiOSPharmaSearchEngine_getSubstance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getSubstanceResponse" message="tns:IiOSPharmaSearchEngine_getSubstance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDrugsByTherapeutic">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getDrugsByTherapeutic" message="tns:IiOSPharmaSearchEngine_getDrugsByTherapeutic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getDrugsByTherapeuticResponse" message="tns:IiOSPharmaSearchEngine_getDrugsByTherapeutic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTherapeuticsByDrug">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getTherapeuticsByDrug" message="tns:IiOSPharmaSearchEngine_getTherapeuticsByDrug_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getTherapeuticsByDrugResponse" message="tns:IiOSPharmaSearchEngine_getTherapeuticsByDrug_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTherapeuticsByDrugByTherapeutic">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getTherapeuticsByDrugByTherapeutic" message="tns:IiOSPharmaSearchEngine_getTherapeuticsByDrugByTherapeutic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getTherapeuticsByDrugByTherapeuticResponse" message="tns:IiOSPharmaSearchEngine_getTherapeuticsByDrugByTherapeutic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getResults" message="tns:IiOSPharmaSearchEngine_getResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getResultsResponse" message="tns:IiOSPharmaSearchEngine_getResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAttributes">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getAttributes" message="tns:IiOSPharmaSearchEngine_getAttributes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getAttributesResponse" message="tns:IiOSPharmaSearchEngine_getAttributes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAttributesByDrug">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getAttributesByDrug" message="tns:IiOSPharmaSearchEngine_getAttributesByDrug_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getAttributesByDrugResponse" message="tns:IiOSPharmaSearchEngine_getAttributesByDrug_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getContentByAttribute">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getContentByAttribute" message="tns:IiOSPharmaSearchEngine_getContentByAttribute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getContentByAttributeResponse" message="tns:IiOSPharmaSearchEngine_getContentByAttribute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getIndication">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getIndication" message="tns:IiOSPharmaSearchEngine_getIndication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getIndicationResponse" message="tns:IiOSPharmaSearchEngine_getIndication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getIndications">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getIndications" message="tns:IiOSPharmaSearchEngine_getIndications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getIndicationsResponse" message="tns:IiOSPharmaSearchEngine_getIndications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDrugsByIndication">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getDrugsByIndication" message="tns:IiOSPharmaSearchEngine_getDrugsByIndication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getDrugsByIndicationResponse" message="tns:IiOSPharmaSearchEngine_getDrugsByIndication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getIndicationsByDrug">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getIndicationsByDrug" message="tns:IiOSPharmaSearchEngine_getIndicationsByDrug_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getIndicationsByDrugResponse" message="tns:IiOSPharmaSearchEngine_getIndicationsByDrug_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLabs">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getLabs" message="tns:IiOSPharmaSearchEngine_getLabs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getLabsResponse" message="tns:IiOSPharmaSearchEngine_getLabs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDrugsByLab">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getDrugsByLab" message="tns:IiOSPharmaSearchEngine_getDrugsByLab_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getDrugsByLabResponse" message="tns:IiOSPharmaSearchEngine_getDrugsByLab_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLabsBySubstance">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getLabsBySubstance" message="tns:IiOSPharmaSearchEngine_getLabsBySubstance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getLabsBySubstanceResponse" message="tns:IiOSPharmaSearchEngine_getLabsBySubstance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDrugsByLabBySubstance">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getDrugsByLabBySubstance" message="tns:IiOSPharmaSearchEngine_getDrugsByLabBySubstance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getDrugsByLabBySubstanceResponse" message="tns:IiOSPharmaSearchEngine_getDrugsByLabBySubstance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAloneDrugsByLabBySubstance">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getAloneDrugsByLabBySubstance" message="tns:IiOSPharmaSearchEngine_getAloneDrugsByLabBySubstance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getAloneDrugsByLabBySubstanceResponse" message="tns:IiOSPharmaSearchEngine_getAloneDrugsByLabBySubstance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCombinedDrugsByLabBySubstance">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getCombinedDrugsByLabBySubstance" message="tns:IiOSPharmaSearchEngine_getCombinedDrugsByLabBySubstance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getCombinedDrugsByLabBySubstanceResponse" message="tns:IiOSPharmaSearchEngine_getCombinedDrugsByLabBySubstance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLabsByIndication">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getLabsByIndication" message="tns:IiOSPharmaSearchEngine_getLabsByIndication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getLabsByIndicationResponse" message="tns:IiOSPharmaSearchEngine_getLabsByIndication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDrugsByLabByIndication">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getDrugsByLabByIndication" message="tns:IiOSPharmaSearchEngine_getDrugsByLabByIndication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getDrugsByLabByIndicationResponse" message="tns:IiOSPharmaSearchEngine_getDrugsByLabByIndication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLabInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getLabInformation" message="tns:IiOSPharmaSearchEngine_getLabInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getLabInformationResponse" message="tns:IiOSPharmaSearchEngine_getLabInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLaboratory">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getLaboratory" message="tns:IiOSPharmaSearchEngine_getLaboratory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getLaboratoryResponse" message="tns:IiOSPharmaSearchEngine_getLaboratory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNumberLabs">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getNumberLabs" message="tns:IiOSPharmaSearchEngine_getNumberLabs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getNumberLabsResponse" message="tns:IiOSPharmaSearchEngine_getNumberLabs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPharmaFormsByDrug">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getPharmaFormsByDrug" message="tns:IiOSPharmaSearchEngine_getPharmaFormsByDrug_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getPharmaFormsByDrugResponse" message="tns:IiOSPharmaSearchEngine_getPharmaFormsByDrug_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPharmaForms">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getPharmaForms" message="tns:IiOSPharmaSearchEngine_getPharmaForms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getPharmaFormsResponse" message="tns:IiOSPharmaSearchEngine_getPharmaForms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDrugs">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getDrugs" message="tns:IiOSPharmaSearchEngine_getDrugs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getDrugsResponse" message="tns:IiOSPharmaSearchEngine_getDrugs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDrugsBySubstance">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getDrugsBySubstance" message="tns:IiOSPharmaSearchEngine_getDrugsBySubstance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getDrugsBySubstanceResponse" message="tns:IiOSPharmaSearchEngine_getDrugsBySubstance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getContent" message="tns:IiOSPharmaSearchEngine_getContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getContentResponse" message="tns:IiOSPharmaSearchEngine_getContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/checkContent" message="tns:IiOSPharmaSearchEngine_checkContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/checkContentResponse" message="tns:IiOSPharmaSearchEngine_checkContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNumberDrugs">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getNumberDrugs" message="tns:IiOSPharmaSearchEngine_getNumberDrugs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getNumberDrugsResponse" message="tns:IiOSPharmaSearchEngine_getNumberDrugs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchText">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/searchText" message="tns:IiOSPharmaSearchEngine_searchText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/searchTextResponse" message="tns:IiOSPharmaSearchEngine_searchText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSubstances">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getSubstances" message="tns:IiOSPharmaSearchEngine_getSubstances_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getSubstancesResponse" message="tns:IiOSPharmaSearchEngine_getSubstances_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSubstanceByTherapeutic">
      <wsdl:input wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getSubstanceByTherapeutic" message="tns:IiOSPharmaSearchEngine_getSubstanceByTherapeutic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IiOSPharmaSearchEngine/getSubstanceByTherapeuticResponse" message="tns:IiOSPharmaSearchEngine_getSubstanceByTherapeutic_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IiOSPharmaSearchEngine" type="tns:IiOSPharmaSearchEngine">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAloneDrugsBySubstance">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getAloneDrugsBySubstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCombinedDrugsBySubstance">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getCombinedDrugsBySubstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAloneDrugsByTheraBySubstance">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getAloneDrugsByTheraBySubstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCombinedDrugsByTheraBySubstance">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getCombinedDrugsByTheraBySubstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubstancesByLab">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getSubstancesByLab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubstancesByDrug">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getSubstancesByDrug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubstancesByDrugBySubs">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getSubstancesByDrugBySubs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubstance">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getSubstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDrugsByTherapeutic">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getDrugsByTherapeutic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTherapeuticsByDrug">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getTherapeuticsByDrug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTherapeuticsByDrugByTherapeutic">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getTherapeuticsByDrugByTherapeutic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getResults">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAttributes">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getAttributes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAttributesByDrug">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getAttributesByDrug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContentByAttribute">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getContentByAttribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIndication">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getIndication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIndications">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getIndications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDrugsByIndication">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getDrugsByIndication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIndicationsByDrug">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getIndicationsByDrug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLabs">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getLabs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDrugsByLab">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getDrugsByLab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLabsBySubstance">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getLabsBySubstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDrugsByLabBySubstance">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getDrugsByLabBySubstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAloneDrugsByLabBySubstance">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getAloneDrugsByLabBySubstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCombinedDrugsByLabBySubstance">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getCombinedDrugsByLabBySubstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLabsByIndication">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getLabsByIndication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDrugsByLabByIndication">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getDrugsByLabByIndication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLabInformation">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getLabInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLaboratory">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getLaboratory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumberLabs">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getNumberLabs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPharmaFormsByDrug">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getPharmaFormsByDrug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPharmaForms">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getPharmaForms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDrugs">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getDrugs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDrugsBySubstance">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getDrugsBySubstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getContent">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkContent">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/checkContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNumberDrugs">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getNumberDrugs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchText">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/searchText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubstances">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getSubstances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubstanceByTherapeutic">
      <soap:operation soapAction="http://tempuri.org/IiOSPharmaSearchEngine/getSubstanceByTherapeutic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="iOSPharmaSearchEngine">
    <wsdl:port name="BasicHttpBinding_IiOSPharmaSearchEngine" binding="tns:BasicHttpBinding_IiOSPharmaSearchEngine">
      <soap:address location="http://www.plmconnection.com/plmservices/Mobile/iOSPharmaSearchEngine.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>