Indices_Impresos/Aplications/XMLiPhone/App_WebReferences/PharmaSearchEngine/iOSPharmaSearchEngine.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.plmconnection.com/plmservices/Mobile/iOSPharmaSearchEngine.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" />
  <xs:import schemaLocation="http://www.plmconnection.com/plmservices/Mobile/iOSPharmaSearchEngine.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" />
  <xs:element name="getAloneDrugsBySubstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="substanceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAloneDrugsBySubstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="getAloneDrugsBySubstanceResult" nillable="true" type="q1:ArrayOfProductByEditionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCombinedDrugsBySubstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="substanceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCombinedDrugsBySubstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="getCombinedDrugsBySubstanceResult" nillable="true" type="q2:ArrayOfProductByEditionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAloneDrugsByTheraBySubstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="therapeuticId" type="xs:int" />
        <xs:element minOccurs="0" name="substanceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAloneDrugsByTheraBySubstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="getAloneDrugsByTheraBySubstanceResult" nillable="true" type="q3:ArrayOfProductByEditionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCombinedDrugsByTheraBySubstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="therapeuticId" type="xs:int" />
        <xs:element minOccurs="0" name="substanceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCombinedDrugsByTheraBySubstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="getCombinedDrugsByTheraBySubstanceResult" nillable="true" type="q4:ArrayOfProductByEditionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubstancesByLab">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="labId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubstancesByLabResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" minOccurs="0" name="getSubstancesByLabResult" nillable="true" type="q5:ArrayOfActiveSubstanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubstancesByDrug">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="drugId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubstancesByDrugResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" minOccurs="0" name="getSubstancesByDrugResult" nillable="true" type="q6:ArrayOfActiveSubstanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubstancesByDrugBySubs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="drugId" type="xs:int" />
        <xs:element minOccurs="0" name="substanceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubstancesByDrugBySubsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" minOccurs="0" name="getSubstancesByDrugBySubsResult" nillable="true" type="q7:ArrayOfActiveSubstanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="substanceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" minOccurs="0" name="getSubstanceResult" nillable="true" type="q8:ActiveSubstanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDrugsByTherapeutic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="therapeuticId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDrugsByTherapeuticResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="getDrugsByTherapeuticResult" nillable="true" type="q9:ArrayOfProductByEditionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTherapeuticsByDrug">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="drugId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTherapeuticsByDrugResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="getTherapeuticsByDrugResult" nillable="true" type="q10:ArrayOfTherapeuticByProductInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTherapeuticsByDrugByTherapeutic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="drugId" type="xs:int" />
        <xs:element minOccurs="0" name="therapeuticId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTherapeuticsByDrugByTherapeuticResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="getTherapeuticsByDrugByTherapeuticResult" nillable="true" type="q11:ArrayOfTherapeuticByProductInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="prefix" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="getResultsResult" nillable="true" type="q12:SearchResultsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" minOccurs="0" name="getAttributesResult" nillable="true" type="q13:ArrayOfAttributesInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAttributesByDrug">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="labId" type="xs:int" />
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
        <xs:element minOccurs="0" name="drugId" type="xs:int" />
        <xs:element minOccurs="0" name="pharmaFormId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAttributesByDrugResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="getAttributesByDrugResult" nillable="true" type="q14:ArrayOfAttributeByProductInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getContentByAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="labId" type="xs:int" />
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
        <xs:element minOccurs="0" name="drugId" type="xs:int" />
        <xs:element minOccurs="0" name="pharmaFormId" type="xs:int" />
        <xs:element minOccurs="0" name="attributeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getContentByAttributeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" minOccurs="0" name="getContentByAttributeResult" nillable="true" type="q15:ProductContentsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIndication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="indicationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIndicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" minOccurs="0" name="getIndicationResult" nillable="true" type="q16:IndicationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIndications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="indication" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIndicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" minOccurs="0" name="getIndicationsResult" nillable="true" type="q17:ArrayOfIndicationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDrugsByIndication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="indicationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDrugsByIndicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="getDrugsByIndicationResult" nillable="true" type="q18:ArrayOfProductByEditionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIndicationsByDrug">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="drugId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIndicationsByDrugResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" minOccurs="0" name="getIndicationsByDrugResult" nillable="true" type="q19:ArrayOfIndicationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLabs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="labName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLabsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="getLabsResult" nillable="true" type="q20:ArrayOfDivisionByEditionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDrugsByLab">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="labId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDrugsByLabResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="getDrugsByLabResult" nillable="true" type="q21:ArrayOfProductByEditionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLabsBySubstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="substanceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLabsBySubstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="getLabsBySubstanceResult" nillable="true" type="q22:ArrayOfDivisionByEditionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDrugsByLabBySubstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="labId" type="xs:int" />
        <xs:element minOccurs="0" name="substanceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDrugsByLabBySubstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="getDrugsByLabBySubstanceResult" nillable="true" type="q23:ArrayOfProductByEditionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAloneDrugsByLabBySubstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="labId" type="xs:int" />
        <xs:element minOccurs="0" name="substanceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAloneDrugsByLabBySubstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="getAloneDrugsByLabBySubstanceResult" nillable="true" type="q24:ArrayOfProductByEditionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCombinedDrugsByLabBySubstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="labId" type="xs:int" />
        <xs:element minOccurs="0" name="substanceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCombinedDrugsByLabBySubstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="getCombinedDrugsByLabBySubstanceResult" nillable="true" type="q25:ArrayOfProductByEditionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLabsByIndication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="indicationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLabsByIndicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="getLabsByIndicationResult" nillable="true" type="q26:ArrayOfDivisionByEditionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDrugsByLabByIndication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="labId" type="xs:int" />
        <xs:element minOccurs="0" name="indicationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDrugsByLabByIndicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="getDrugsByLabByIndicationResult" nillable="true" type="q27:ArrayOfProductByEditionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLabInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="labId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLabInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" minOccurs="0" name="getLabInformationResult" nillable="true" type="q28:DivisionInformationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLaboratory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="labId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLaboratoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" minOccurs="0" name="getLaboratoryResult" nillable="true" type="q29:DivisionsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberLabs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberLabsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNumberLabsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPharmaFormsByDrug">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="drugId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPharmaFormsByDrugResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" minOccurs="0" name="getPharmaFormsByDrugResult" nillable="true" type="q30:ArrayOfPharmaceuticalFormInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPharmaForms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="pharmaForm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPharmaFormsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" minOccurs="0" name="getPharmaFormsResult" nillable="true" type="q31:ArrayOfPharmaceuticalFormInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDrugs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="drug" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDrugsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="getDrugsResult" nillable="true" type="q32:ArrayOfProductByEditionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDrugsBySubstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="substanceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDrugsBySubstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="getDrugsBySubstanceResult" nillable="true" type="q33:ArrayOfProductByEditionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="drugId" type="xs:int" />
        <xs:element minOccurs="0" name="pharmaFormId" type="xs:int" />
        <xs:element minOccurs="0" name="labId" type="xs:int" />
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" minOccurs="0" name="getContentResult" nillable="true" type="q34:ParticipantProductsInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="drugId" type="xs:int" />
        <xs:element minOccurs="0" name="pharmaFormId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkContentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberDrugs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberDrugsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNumberDrugsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="attributes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prefix" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/PharmaSearchEngineBusinessEntries" minOccurs="0" name="searchTextResult" nillable="true" type="q35:ArrayOfProductByEditionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubstances">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="substance" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubstancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" minOccurs="0" name="getSubstancesResult" nillable="true" type="q36:ArrayOfActiveSubstanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubstanceByTherapeutic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryId" type="xs:int" />
        <xs:element minOccurs="0" name="editionId" type="xs:int" />
        <xs:element minOccurs="0" name="therapeuticId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSubstanceByTherapeuticResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" minOccurs="0" name="getSubstanceByTherapeuticResult" nillable="true" type="q37:ArrayOfActiveSubstanceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>