Indices_Impresos/Aplications/XMLiPhone/App_WebReferences/PharmaSearchEngine/iOSPharmaSearchEngine2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MedinetBusinessEntries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfActiveSubstanceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActiveSubstanceInfo" nillable="true" type="tns:ActiveSubstanceInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActiveSubstanceInfo" nillable="true" type="tns:ArrayOfActiveSubstanceInfo" />
  <xs:complexType name="ActiveSubstanceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="ActiveSubstanceId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnglishDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enunciative" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActiveSubstanceInfo" nillable="true" type="tns:ActiveSubstanceInfo" />
  <xs:complexType name="ArrayOfIndicationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndicationInfo" nillable="true" type="tns:IndicationInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndicationInfo" nillable="true" type="tns:ArrayOfIndicationInfo" />
  <xs:complexType name="IndicationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndicationId" type="xs:int" />
      <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndicationInfo" nillable="true" type="tns:IndicationInfo" />
  <xs:complexType name="ArrayOfAttributesInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttributesInfo" nillable="true" type="tns:AttributesInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttributesInfo" nillable="true" type="tns:ArrayOfAttributesInfo" />
  <xs:complexType name="AttributesInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="AttributeId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TechnicalSheet" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttributesInfo" nillable="true" type="tns:AttributesInfo" />
  <xs:complexType name="ProductContentsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DivisionId" type="xs:int" />
      <xs:element minOccurs="0" name="EditionId" type="xs:int" />
      <xs:element minOccurs="0" name="PharmaFormId" type="xs:int" />
      <xs:element minOccurs="0" name="PlainContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductContentId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductContentsInfo" nillable="true" type="tns:ProductContentsInfo" />
  <xs:complexType name="DivisionInformationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DivisionId" type="xs:int" />
      <xs:element minOccurs="0" name="DivisionInfId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suburb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Web" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DivisionInformationInfo" nillable="true" type="tns:DivisionInformationInfo" />
  <xs:complexType name="DivisionsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CountryId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DivisionId" type="xs:int" />
      <xs:element minOccurs="0" name="LaboratoryId" type="xs:int" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DivisionsInfo" nillable="true" type="tns:DivisionsInfo" />
  <xs:complexType name="ArrayOfPharmaceuticalFormInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PharmaceuticalFormInfo" nillable="true" type="tns:PharmaceuticalFormInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPharmaceuticalFormInfo" nillable="true" type="tns:ArrayOfPharmaceuticalFormInfo" />
  <xs:complexType name="PharmaceuticalFormInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnglishDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PharmaFormId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PharmaceuticalFormInfo" nillable="true" type="tns:PharmaceuticalFormInfo" />
  <xs:complexType name="ParticipantProductsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="DivisionId" type="xs:int" />
      <xs:element minOccurs="0" name="EditionId" type="xs:int" />
      <xs:element minOccurs="0" name="HTMLContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Page" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PharmaFormId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="XMLContent" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParticipantProductsInfo" nillable="true" type="tns:ParticipantProductsInfo" />
</xs:schema>