Indices_Impresos/Aplications/PEV_Ind/App_Code/PEV/XMLRecPEV.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="XMLRecPEV" targetNamespace="http://tempuri.org/XMLRecPEV.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/XMLRecPEV.xsd" xmlns:mstns="http://tempuri.org/XMLRecPEV.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Products">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProductName" type="xs:string" />
				<xs:element name="PharmaForm" type="xs:string" />
				<xs:element name="Subs" type="xs:string" />
				<xs:element name="Division" type="xs:string" />
				<xs:element name="Page" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>