Indices_Impresos/Interacciones/BusinessLogicalLayerComponent/HarvardContentBusinessLogicComponent/Web References/HarvardNews/Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s0="http://ws.staywell.com" targetNamespace="http://ws.staywell.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="Types.xsd" namespace="http://ws.staywell.com" />
    </xsd:schema>
  </types>
  <message name="NoInput" />
  <message name="DocumentSearchIn">
    <part name="req" element="s0:SearchCriteria" />
  </message>
  <message name="DocumentSearchOut">
    <part name="resp" element="s0:DocumentList" />
  </message>
  <message name="GetDocumentIn">
    <part name="req" element="s0:DocumentRequest" />
  </message>
  <message name="GetDocumentOut">
    <part name="resp" element="s0:Document" />
  </message>
  <message name="GetDocumentForEditingIn">
    <part name="req" element="s0:DocumentRequest" />
  </message>
  <message name="GetDocumentForEditingOut">
    <part name="resp" element="s0:Document" />
  </message>
  <message name="GetMasterGreystoneDocumentIn">
    <part name="req" element="s0:MasterGreystoneDocumentRequest" />
  </message>
  <message name="GetMasterGreystoneDocumentOut">
    <part name="resp" element="s0:Document" />
  </message>
  <message name="GetRelatedDocumentsIn">
    <part name="req" element="s0:RelatedDocumentsRequest" />
  </message>
  <message name="GetRelatedDocumentsOut">
    <part name="resp" element="s0:DocumentList" />
  </message>
  <message name="GetRelatedServicelineDocumentsIn">
    <part name="req" element="s0:RelatedServicelineDocumentsRequest" />
  </message>
  <message name="GetRelatedServicelineDocumentsOut">
    <part name="resp" element="s0:DocumentList" />
  </message>
  <message name="ListCollectionsOut">
    <part name="req" element="s0:CollectionList" />
  </message>
  <message name="ListDynamicCollectionsOut">
    <part name="req" element="s0:DynamicCollectionList" />
  </message>
  <message name="GetCollectionContentsIn">
    <part name="req" element="s0:CollectionContentsRequest" />
  </message>
  <message name="GetCollectionContentsOut">
    <part name="req" element="s0:Subtopic" />
  </message>
  <message name="GetDynamicCollectionContentsIn">
    <part name="req" element="s0:DynamicCollectionContentsRequest" />
  </message>
  <message name="GetDynamicCollectionContentsOut">
    <part name="req" element="s0:DocumentList" />
  </message>
  <message name="GetDynamicCollectionCriteriaIn">
    <part name="req" element="s0:DynamicCollectionContentsRequest" />
  </message>
  <message name="GetDynamicCollectionCriteriaOut">
    <part name="req" element="s0:SearchCriteria" />
  </message>
  <message name="GetCPTListIn">
    <part name="req" element="s0:CPTListRequest" />
  </message>
  <message name="GetCPTListOut">
    <part name="req" element="s0:CPTList" />
  </message>
  <message name="GetICD9ListIn">
    <part name="req" element="s0:ICD9ListRequest" />
  </message>
  <message name="GetICD9ListOut">
    <part name="req" element="s0:ICD9List" />
  </message>
  <message name="GetMeSHListIn">
    <part name="req" element="s0:MeSHListRequest" />
  </message>
  <message name="GetMeSHListOut">
    <part name="req" element="s0:MeSHList" />
  </message>
  <message name="SetDocumentBlockingIn">
    <part name="req" element="s0:BlockingStatus" />
  </message>
  <message name="SetDefaultBlockingIn">
    <part name="req" element="s0:DefaultBlockingStatus" />
  </message>
  <message name="NoOutput" />
  <portType name="DocumentSearch">
    <operation name="DocumentSearch">
      <input message="s0:DocumentSearchIn" />
      <output message="s0:DocumentSearchOut" />
    </operation>
  </portType>
  <portType name="GetDocument">
    <operation name="GetDocument">
      <input message="s0:GetDocumentIn" />
      <output message="s0:GetDocumentOut" />
    </operation>
  </portType>
  <portType name="GetDocumentForEditing">
    <operation name="GetDocumentForEditing">
      <input message="s0:GetDocumentForEditingIn" />
      <output message="s0:GetDocumentForEditingOut" />
    </operation>
  </portType>
  <portType name="GetMasterGreystoneDocument">
    <operation name="GetMasterGreystoneDocument">
      <input message="s0:GetMasterGreystoneDocumentIn" />
      <output message="s0:GetMasterGreystoneDocumentOut" />
    </operation>
  </portType>
  <portType name="GetRelatedDocuments">
    <operation name="GetRelatedDocuments">
      <input message="s0:GetRelatedDocumentsIn" />
      <output message="s0:GetRelatedDocumentsOut" />
    </operation>
  </portType>
  <portType name="GetRelatedServicelineDocuments">
    <operation name="GetRelatedServicelineDocuments">
      <input message="s0:GetRelatedServicelineDocumentsIn" />
      <output message="s0:GetRelatedServicelineDocumentsOut" />
    </operation>
  </portType>
  <portType name="ListCollections">
    <operation name="ListCollections">
      <input message="s0:NoInput" />
      <output message="s0:ListCollectionsOut" />
    </operation>
  </portType>
  <portType name="ListDynamicCollections">
    <operation name="ListDynamicCollections">
      <input message="s0:NoInput" />
      <output message="s0:ListDynamicCollectionsOut" />
    </operation>
  </portType>
  <portType name="CollectionContents">
    <operation name="GetCollectionContents">
      <input message="s0:GetCollectionContentsIn" />
      <output message="s0:GetCollectionContentsOut" />
    </operation>
  </portType>
  <portType name="DynamicCollectionContents">
    <operation name="GetDynamicCollectionContents">
      <input message="s0:GetDynamicCollectionContentsIn" />
      <output message="s0:GetDynamicCollectionContentsOut" />
    </operation>
  </portType>
  <portType name="DynamicCollectionCriteria">
    <operation name="GetDynamicCollectionCriteria">
      <input message="s0:GetDynamicCollectionCriteriaIn" />
      <output message="s0:GetDynamicCollectionCriteriaOut" />
    </operation>
  </portType>
  <portType name="CPTList">
    <operation name="GetCPTList">
      <input message="s0:GetCPTListIn" />
      <output message="s0:GetCPTListOut" />
    </operation>
  </portType>
  <portType name="ICD9List">
    <operation name="GetICD9List">
      <input message="s0:GetICD9ListIn" />
      <output message="s0:GetICD9ListOut" />
    </operation>
  </portType>
  <portType name="MeSHList">
    <operation name="GetMeSHList">
      <input message="s0:GetMeSHListIn" />
      <output message="s0:GetMeSHListOut" />
    </operation>
  </portType>
  <portType name="SetDocumentBlocking">
    <operation name="SetDocumentBlocking">
      <input message="s0:SetDocumentBlockingIn" />
      <output message="s0:NoOutput" />
    </operation>
  </portType>
  <portType name="SetDefaultBlocking">
    <operation name="SetDefaultBlocking">
      <input message="s0:SetDefaultBlockingIn" />
      <output message="s0:NoOutput" />
    </operation>
  </portType>
  <binding name="DocumentSearchBinding" type="s0:DocumentSearch">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="DocumentSearch">
      <soap:operation soapAction="http://ws.staywell.com/DocumentSearch" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="GetDocumentBinding" type="s0:GetDocument">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetDocument">
      <soap:operation soapAction="http://ws.staywell.com/GetDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="GetDocumentForEditingBinding" type="s0:GetDocumentForEditing">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetDocumentForEditing">
      <soap:operation soapAction="http://ws.staywell.com/GetDocumentForEditing" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="GetMasterGreystoneDocumentBinding" type="s0:GetMasterGreystoneDocument">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetMasterGreystoneDocument">
      <soap:operation soapAction="http://ws.staywell.com/GetMasterGreystoneDocument" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="GetRelatedDocumentsBinding" type="s0:GetRelatedDocuments">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetRelatedDocuments">
      <soap:operation soapAction="http://ws.staywell.com/GetRelatedDocuments" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="GetRelatedServicelineDocumentsBinding" type="s0:GetRelatedServicelineDocuments">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetRelatedServicelineDocuments">
      <soap:operation soapAction="http://ws.staywell.com/GetRelatedServicelineDocuments" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ListCollectionsBinding" type="s0:ListCollections">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ListCollections">
      <soap:operation soapAction="http://ws.staywell.com/ListCollections" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ListDynamicCollectionsBinding" type="s0:ListDynamicCollections">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ListDynamicCollections">
      <soap:operation soapAction="http://ws.staywell.com/ListDynamicCollections" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="GetCollectionContentsBinding" type="s0:CollectionContents">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetCollectionContents">
      <soap:operation soapAction="http://ws.staywell.com/GetCollectionContents" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="GetDynamicCollectionContentsBinding" type="s0:DynamicCollectionContents">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetDynamicCollectionContents">
      <soap:operation soapAction="http://ws.staywell.com/GetDynamicCollectionContents" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="GetDynamicCollectionCriteriaBinding" type="s0:DynamicCollectionCriteria">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetDynamicCollectionCriteria">
      <soap:operation soapAction="http://ws.staywell.com/GetDynamicCollectionCriteria" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="GetCPTListBinding" type="s0:CPTList">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetCPTList">
      <soap:operation soapAction="http://ws.staywell.com/GetCPTList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="GetICD9ListBinding" type="s0:ICD9List">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetICD9List">
      <soap:operation soapAction="http://ws.staywell.com/GetICD9List" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="GetMeSHListBinding" type="s0:MeSHList">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetMeSHList">
      <soap:operation soapAction="http://ws.staywell.com/GetMeSHList" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="SetDocumentBlockingBinding" type="s0:SetDocumentBlocking">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="SetDocumentBlocking">
      <soap:operation soapAction="http://ws.staywell.com/SetDocumentBlocking" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="SetDefaultBlockingBinding" type="s0:SetDefaultBlocking">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="SetDefaultBlocking">
      <soap:operation soapAction="http://ws.staywell.com/SetDefaultBlocking" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Documents">
    <port name="DocumentSearch" binding="s0:DocumentSearchBinding">
      <soap:address location="http://external.ws.staywell.com/harvard_plm/Documents.svc/DocumentSearch" />
    </port>
    <port name="GetDocument" binding="s0:GetDocumentBinding">
      <soap:address location="http://external.ws.staywell.com/harvard_plm/Documents.svc/GetDocument" />
    </port>
    <port name="GetDocumentForEditing" binding="s0:GetDocumentForEditingBinding">
      <soap:address location="http://external.ws.staywell.com/harvard_plm/Documents.svc/GetDocumentForEditing" />
    </port>
    <port name="GetMasterGreystoneDocument" binding="s0:GetMasterGreystoneDocumentBinding">
      <soap:address location="http://external.ws.staywell.com/harvard_plm/Documents.svc/GetMasterGreystoneDocument" />
    </port>
    <port name="GetRelatedDocuments" binding="s0:GetRelatedDocumentsBinding">
      <soap:address location="http://external.ws.staywell.com/harvard_plm/Documents.svc/GetRelatedDocuments" />
    </port>
    <port name="GetRelatedServicelineDocuments" binding="s0:GetRelatedServicelineDocumentsBinding">
      <soap:address location="http://external.ws.staywell.com/harvard_plm/Documents.svc/GetRelatedServicelineDocuments" />
    </port>
    <port name="ListCollections" binding="s0:ListCollectionsBinding">
      <soap:address location="http://external.ws.staywell.com/harvard_plm/Collections.svc/ListCollections" />
    </port>
    <port name="ListDynamicCollections" binding="s0:ListDynamicCollectionsBinding">
      <soap:address location="http://external.ws.staywell.com/harvard_plm/Collections.svc/ListDynamicCollections" />
    </port>
    <port name="CollectionContents" binding="s0:GetCollectionContentsBinding">
      <soap:address location="http://external.ws.staywell.com/harvard_plm/Collections.svc/GetCollectionContents" />
    </port>
    <port name="DynamicCollectionContents" binding="s0:GetDynamicCollectionContentsBinding">
      <soap:address location="http://external.ws.staywell.com/harvard_plm/Collections.svc/GetDynamicCollectionContents" />
    </port>
    <port name="DynamicCollectionCriteria" binding="s0:GetDynamicCollectionCriteriaBinding">
      <soap:address location="http://external.ws.staywell.com/harvard_plm/Collections.svc/GetDynamicCollectionCriteria" />
    </port>
    <port name="CPTList" binding="s0:GetCPTListBinding">
      <soap:address location="http://external.ws.staywell.com/harvard_plm/Documents.svc/GetCPTList" />
    </port>
    <port name="ICD9List" binding="s0:GetICD9ListBinding">
      <soap:address location="http://external.ws.staywell.com/harvard_plm/Documents.svc/GetICD9List" />
    </port>
    <port name="MeSHList" binding="s0:GetMeSHListBinding">
      <soap:address location="http://external.ws.staywell.com/harvard_plm/Documents.svc/GetMeSHList" />
    </port>
    <port name="SetDocumentBlocking" binding="s0:SetDocumentBlockingBinding">
      <soap:address location="http://external.ws.staywell.com/harvard_plm/Blocking.svc/SetDocumentBlocking" />
    </port>
    <port name="SetDefaultBlocking" binding="s0:SetDefaultBlockingBinding">
      <soap:address location="http://external.ws.staywell.com/harvard_plm/Blocking.svc/SetDefaultBlocking" />
    </port>
  </service>
</definitions>