Sitios_Web/Medinet_v_2.0/PLM Development VS2010/BusinessLogicLayerComponent/CE_PLMClientsBusinessLogicComponent/Service References/PLMClientsEngine/PLMClientsEngine2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.plmconnection.com/plmservices/PLMClientsEngine/PLMClientsEngine.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PLMClientsBusinessEntities" />
  <xs:element name="getClientByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClientByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PLMClientsBusinessEntities" minOccurs="0" name="getClientByCodeResult" nillable="true" type="q1:ClientDetailInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveClientInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="slastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PLMClientsBusinessEntities" minOccurs="0" name="profession" type="q2:Catalogs.Professions" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PLMClientsBusinessEntities" minOccurs="0" name="speciality" nillable="true" type="q3:Catalogs.Specialities" />
        <xs:element minOccurs="0" name="specialityName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="professionalLicense" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codePrefix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codeString" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PLMClientsBusinessEntities" minOccurs="0" name="source" type="q4:Catalogs.EntrySources" />
        <xs:element minOccurs="0" name="macAddresses" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveClientInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveClientInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateClientInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="slastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PLMClientsBusinessEntities" minOccurs="0" name="profession" type="q5:Catalogs.Professions" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PLMClientsBusinessEntities" minOccurs="0" name="speciality" nillable="true" type="q6:Catalogs.Specialities" />
        <xs:element minOccurs="0" name="specialityName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="professionalLicense" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codePrefix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codeString" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PLMClientsBusinessEntities" minOccurs="0" name="source" type="q7:Catalogs.EntrySources" />
        <xs:element minOccurs="0" name="macAddresses" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateClientInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="validCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PLMClientsBusinessEntities" minOccurs="0" name="validCodeResult" nillable="true" type="q8:ValidCodeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getToolsByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PLMClientsBusinessEntities" minOccurs="0" name="targetId" type="q9:Catalogs.TargetOutputs" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PLMClientsBusinessEntities" minOccurs="0" name="toolTypeId" type="q10:Catalogs.ElectronicToolTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getToolsByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PLMClientsBusinessEntities" minOccurs="0" name="getToolsByCodeResult" nillable="true" type="q11:ArrayOfToolsByTargetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBannersByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PLMClientsBusinessEntities" minOccurs="0" name="targetId" type="q12:Catalogs.TargetOutputs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBannersByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PLMClientsBusinessEntities" minOccurs="0" name="getBannersByCodeResult" nillable="true" type="q13:ArrayOfBannersByTargetInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProfessions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProfessionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PLMClientsBusinessEntities" minOccurs="0" name="getProfessionsResult" nillable="true" type="q14:ArrayOfProfessionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecialities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="professionId" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSpecialitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PLMClientsBusinessEntities" minOccurs="0" name="getSpecialitiesResult" nillable="true" type="q15:ArrayOfSpecialityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>