Indices_Impresos/Interacciones/BusinessLogicLayerComponent/CE_PLMClientsBusinessLogicComponent/Service References/PLMClientsEngine/PLMClients.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PLMClients" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.plmconnection.com/plmservices/PLMClientsEngine/PLMClientsEngine.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.plmconnection.com/plmservices/PLMClientsEngine/PLMClientsEngine.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PLMExceptionsBusinessEntities" />
      <xsd:import schemaLocation="http://www.plmconnection.com/plmservices/PLMClientsEngine/PLMClientsEngine.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.plmconnection.com/plmservices/PLMClientsEngine/PLMClientsEngine.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PLMClientsBusinessEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPLMClients_getClientByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:getClientByCode" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_getClientByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:getClientByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_getClientByCode_FaultExceptionInfoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/PLMExceptionsBusinessEntities" name="detail" element="q1:FaultExceptionInfo" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_saveClientInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:saveClientInfo" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_saveClientInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveClientInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_saveClientInfo_FaultExceptionInfoFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/PLMExceptionsBusinessEntities" name="detail" element="q2:FaultExceptionInfo" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_updateClientInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:updateClientInfo" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_updateClientInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateClientInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_updateClientInfo_FaultExceptionInfoFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/PLMExceptionsBusinessEntities" name="detail" element="q3:FaultExceptionInfo" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_validCode_InputMessage">
    <wsdl:part name="parameters" element="tns:validCode" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_validCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:validCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_validCode_FaultExceptionInfoFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/PLMExceptionsBusinessEntities" name="detail" element="q4:FaultExceptionInfo" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_getToolsByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:getToolsByCode" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_getToolsByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:getToolsByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_getToolsByCode_FaultExceptionInfoFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/PLMExceptionsBusinessEntities" name="detail" element="q5:FaultExceptionInfo" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_getBannersByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:getBannersByCode" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_getBannersByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBannersByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_getBannersByCode_FaultExceptionInfoFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/PLMExceptionsBusinessEntities" name="detail" element="q6:FaultExceptionInfo" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_getProfessions_InputMessage">
    <wsdl:part name="parameters" element="tns:getProfessions" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_getProfessions_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProfessionsResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_getProfessions_FaultExceptionInfoFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/PLMExceptionsBusinessEntities" name="detail" element="q7:FaultExceptionInfo" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_getSpecialities_InputMessage">
    <wsdl:part name="parameters" element="tns:getSpecialities" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_getSpecialities_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSpecialitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IPLMClients_getSpecialities_FaultExceptionInfoFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/PLMExceptionsBusinessEntities" name="detail" element="q8:FaultExceptionInfo" />
  </wsdl:message>
  <wsdl:portType name="IPLMClients">
    <wsdl:operation name="getClientByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMClients/getClientByCode" message="tns:IPLMClients_getClientByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMClients/getClientByCodeResponse" message="tns:IPLMClients_getClientByCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPLMClients/getClientByCodeFaultExceptionInfoFault" name="FaultExceptionInfoFault" message="tns:IPLMClients_getClientByCode_FaultExceptionInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveClientInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMClients/saveClientInfo" message="tns:IPLMClients_saveClientInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMClients/saveClientInfoResponse" message="tns:IPLMClients_saveClientInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPLMClients/saveClientInfoFaultExceptionInfoFault" name="FaultExceptionInfoFault" message="tns:IPLMClients_saveClientInfo_FaultExceptionInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateClientInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMClients/updateClientInfo" message="tns:IPLMClients_updateClientInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMClients/updateClientInfoResponse" message="tns:IPLMClients_updateClientInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPLMClients/updateClientInfoFaultExceptionInfoFault" name="FaultExceptionInfoFault" message="tns:IPLMClients_updateClientInfo_FaultExceptionInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="validCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMClients/validCode" message="tns:IPLMClients_validCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMClients/validCodeResponse" message="tns:IPLMClients_validCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPLMClients/validCodeFaultExceptionInfoFault" name="FaultExceptionInfoFault" message="tns:IPLMClients_validCode_FaultExceptionInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getToolsByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMClients/getToolsByCode" message="tns:IPLMClients_getToolsByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMClients/getToolsByCodeResponse" message="tns:IPLMClients_getToolsByCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPLMClients/getToolsByCodeFaultExceptionInfoFault" name="FaultExceptionInfoFault" message="tns:IPLMClients_getToolsByCode_FaultExceptionInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBannersByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMClients/getBannersByCode" message="tns:IPLMClients_getBannersByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMClients/getBannersByCodeResponse" message="tns:IPLMClients_getBannersByCode_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPLMClients/getBannersByCodeFaultExceptionInfoFault" name="FaultExceptionInfoFault" message="tns:IPLMClients_getBannersByCode_FaultExceptionInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProfessions">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMClients/getProfessions" message="tns:IPLMClients_getProfessions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMClients/getProfessionsResponse" message="tns:IPLMClients_getProfessions_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPLMClients/getProfessionsFaultExceptionInfoFault" name="FaultExceptionInfoFault" message="tns:IPLMClients_getProfessions_FaultExceptionInfoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSpecialities">
      <wsdl:input wsaw:Action="http://tempuri.org/IPLMClients/getSpecialities" message="tns:IPLMClients_getSpecialities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPLMClients/getSpecialitiesResponse" message="tns:IPLMClients_getSpecialities_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPLMClients/getSpecialitiesFaultExceptionInfoFault" name="FaultExceptionInfoFault" message="tns:IPLMClients_getSpecialities_FaultExceptionInfoFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPLMClients" type="tns:IPLMClients">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getClientByCode">
      <soap:operation soapAction="http://tempuri.org/IPLMClients/getClientByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionInfoFault">
        <soap:fault use="literal" name="FaultExceptionInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="saveClientInfo">
      <soap:operation soapAction="http://tempuri.org/IPLMClients/saveClientInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionInfoFault">
        <soap:fault use="literal" name="FaultExceptionInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateClientInfo">
      <soap:operation soapAction="http://tempuri.org/IPLMClients/updateClientInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionInfoFault">
        <soap:fault use="literal" name="FaultExceptionInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="validCode">
      <soap:operation soapAction="http://tempuri.org/IPLMClients/validCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionInfoFault">
        <soap:fault use="literal" name="FaultExceptionInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getToolsByCode">
      <soap:operation soapAction="http://tempuri.org/IPLMClients/getToolsByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionInfoFault">
        <soap:fault use="literal" name="FaultExceptionInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getBannersByCode">
      <soap:operation soapAction="http://tempuri.org/IPLMClients/getBannersByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionInfoFault">
        <soap:fault use="literal" name="FaultExceptionInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProfessions">
      <soap:operation soapAction="http://tempuri.org/IPLMClients/getProfessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionInfoFault">
        <soap:fault use="literal" name="FaultExceptionInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSpecialities">
      <soap:operation soapAction="http://tempuri.org/IPLMClients/getSpecialities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionInfoFault">
        <soap:fault use="literal" name="FaultExceptionInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PLMClients">
    <wsdl:port name="BasicHttpBinding_IPLMClients" binding="tns:BasicHttpBinding_IPLMClients">
      <soap:address location="http://www.plmconnection.com/plmservices/PLMClientsEngine/PLMClientsEngine.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>