Indices_Impresos/Aplications/IndicesImpresos/DEF/App_Code/RecentProd.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="RecentProd" targetNamespace="http://tempuri.org/RecentProd.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/RecentProd.xsd" xmlns:mstns="http://tempuri.org/RecentProd.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Products">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Brand" type="xs:string" />
				<xs:element name="PharmaForm" type="xs:string" />
				<xs:element name="Substances" type="xs:string" />
				<xs:element name="Laboratory" type="xs:string" />
				<xs:element name="Page" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>