Indices_Impresos/Interacciones/BusinessLogicLayerComponent/AgroBusinessLogicComponent/Web References/_PLMTracking/PLMLogsEngine0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CalculatorsLogsBusinessEntries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CalculatorsLogsBusinessEntries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfResultTrackingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultTrackingInfo" nillable="true" type="tns:ResultTrackingInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultTrackingInfo" nillable="true" type="tns:ArrayOfResultTrackingInfo" />
  <xs:complexType name="ResultTrackingInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalculatorId" type="xs:int" />
      <xs:element minOccurs="0" name="CodeString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SourceId" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TrackId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultTrackingInfo" nillable="true" type="tns:ResultTrackingInfo" />
</xs:schema>